---
---
section#intro {
  .title {
    text-align: center;
  }
}
.page-wrapper {
  padding-top: 2em;
}
img.profile {
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  width: 30vmin;
  float: left;
  margin: 1em;
}
@media (max-width: 450px) {
  section#intro {
    text-align: center;
    img.profile {
      float: none;
      width: 50vmin;
    }
  }
  .page-wrapper {
    padding-top: 0;
  }
}
@import
  "style",
  "home/landing",
  "home/about",
  "home/projects",
  "home/blog";
