---
---

#services {
  img.icon {
    height: 96px;
    width: 96px;
    margin: 8px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #fed136;
    padding: 8px;
  }
  .service-heading {
    margin: 23px 0 15px 0;
  }

  padding-bottom: 75px;
}

#portfolio {
  .process {
    margin: 0 75px 15px;
  }
  .gallery {
    margin-top: 75px;
  }
}
