<footer>
    <div class="container">
        <div class="row" style="display: flex; align-items: center;">
            <div class="col-md-4">
                <div class="copyright">Copyright &copy; Jewels Kalkan 2020</div>
            </div>
            <div class="col-md-4">
                <div class="address">403 Columbia Ave.</div>
                <div class="address">Whitefish MT, 59937</div>
                <div class="phone">406–249–7651</div>
            </div>
            <div class="col-md-4">
                <div class="copyright">Website built with love by <a href="https://spenc.es">spenc.es</a></div>
            </div>
        </div>
    </div>
</footer>
