<footer>
  <div class="flex-container">
      <div class="social-media flex-item">
        <a class="facebook item primary-theme" href="https://www.facebook.com/spencer.scorcelletti">
          <i class="fa fa-facebook" title="Find me on Facebook"></i>
        </a>
        <a class="github item primary-theme" href="https://github.com/asimpletune/">
          <i class="fa fa-github" title="Find me on GitHub"></i>
        </a>
        <a class="twitter item primary-theme" href="https://twitter.com/asimpletune/">
          <i class="fa fa-twitter" title="Find me on Twitter"></i>
        </a>
      </div>
      <div class="ip flex-item">
        <a class="item" href="/">
          <img class="logo" src="/images/favicon.ico"/ alt="logo">
        </a>
        <span class="copyright-notice item">
          <span class="name">Spencer Scorcelletti</span>
          <span class="symbol">&copy;</span>
          <span class="year">2016</span>
        </span>
      </div>
      <div class="contact flex-item">
        <a class="item primary-theme no-op" href="#"></a>
        <a class="item primary-theme no-op" href="#"></a>
        <a class="item primary-theme no-op" href="#"></a>
        <a class="call item primary-theme" href="javascript:void(0);"
          data-show="#contact-info-overlay .call">
          <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
        </a>
        <a class="email item primary-theme" href="javascript:void(0);"
          data-show="#contact-info-overlay .email">
          <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
        </a>
        <a class="walk item primary-theme" href="javascript:void(0);"
          data-show="#contact-info-overlay .walk">
          <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
        </a>
      </div>
      <div id="contact-info-overlay" class="flex-item">
        <div class="item call no-op">
          <p>
            415.316.2003
          </p>
        </div>
        <div class="item email no-op">
          <p>
            asimpletune@icloud.com
          </p>
        </div>
        <div class="item walk no-op">
          <p>
            1300A Kobbe ave, San Francisco, CA, 94129
          </p>
        </div>
      </div>
  </div>
</footer>
