/* primary theme */
$persian-pink:    rgb(253, 126, 213)  !default;
$wild-watermelon: rgb(252, 094, 109)  !default;
$salmon:          rgb(253, 134, 108)  !default;
$saffron-mango:   rgb(251, 189, 094)  !default;
$turquoise-blue:  rgb(092, 228, 213)  !default;
$dodger-blue:     rgb(048, 124, 251)  !default;

/* secondary theme */
$electric-violet: rgb(170, 013, 255)  !default;
$bright-mint:     rgb(095, 255, 168)  !default;

/* text and darkmode */
$outer-space:     rgb(041, 047, 051)  !default;
$silver-chalice:  rgb(170, 170, 170)  !default;
