@import
  "mixins",
  "theme";
#about-me {
  width: 100%;
  background-color: $bright-mint;
  padding: 0 5em;
  text-align: center;
  article {
    @include columns(2, 10em);
    text-align: justify;
    max-width: 55em;
    margin: auto;
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .see-more {
    margin-bottom: 2em;
  }
}
.see-more.btn-group.truncate-button-message a {
  display: none;
}
@media (max-width: 515px) {
  #about-me {
    padding: 0 2em;
    .see-more.btn-group.truncate-button-message a {
      display: block;
    }
    .see-more.btn-group.full-button-message a {
      display: none;
    }
  }
}
.darkmode {
  #about-me {
    color: $outer-space;
  }
}
