@import "theme";
section#landing {
  > .flex-container {
    justify-content: space-between;
    height: calc(100vh - 50px);
  }
  .flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .title-wrapper {
    height: 100%;
    * {
      margin: 0;
    }
  }
  .subtitle {
    span.occupation::before {
      content: " | ";
    }
    span.occupation::after {
      content: " | ";
    }
  }
  img.logo {
    width: 50vmin;
  }
  .next-section-preview {
    height: 6em;
    align-self: stretch;
    background-color: $bright-mint;
    small {
      color: $electric-violet;
      font-weight: 900;
    }
  }
}
