<article class="lead">
  {{ site.content | where:"id","/content/about/intro" }}
</article>
<div role="group" class="see-more btn-group full-button-message">
  <!-- <a href="/about" class="btn btn-primary btn-lg left" type="button">More about me</a> -->
  <a href="/resume" class="btn btn-primary btn-lg right" type="button">See my resume</a>
</div>
<div role="group" class="see-more btn-group truncate-button-message">
  <!-- <a href="/about" class="btn btn-primary btn-lg left" type="button">More</a> -->
  <a href="/resume" class="btn btn-primary btn-lg right" type="button">Resume</a>
</div>
