<h2 class="title">Projects</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 persian-pink lead">
      {{ site.content | where:"id", "/content/home/projects/requesthub.io" }}
    </div>
    <div class="col-md-4 wild-watermelon lead">
      {{ site.content | where:"id", "/content/home/projects/readout" }}
    </div>
    <div class="col-md-4 salmon lead">
      {{ site.content | where:"id", "/content/home/projects/craft.js" }}
    </div>
  </div>
  <a href="/projects" type="button" class="btn btn-primary btn-lg">See all projects</a>
</div>
